.contact-info-cover {
  padding: 15px;
  background-color: rgba(78, 76, 76, 0.671);
  border-radius: 3%;
  img {
      margin-bottom: 15px;
      width: 230px;
      height: 230px;
  }
  .actions {
    font-size: 1.3rem;
  }
}
