.coin-list {
    height: 40vh;
    width: inherit;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px;
    padding: 0 40px;
    grid-template-rows:  auto;

}